body{
    background-color:  midnightblue ;
    /* background-image: url('./assets/header-background.png'); */
    /* opacity: 0.5; */
    z-index: 0;
    background-blend-mode: multiply;
    color: white;
    /* visibility: hidden; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    font-size: smaller;
    margin-top: auto;
}

body{
    text-align: center;
}

iframe{
    width: 75%;
    /* height: 100px; */
}

.row{
    padding: 15px;
}

.round{
    border-radius: 25px;
    background-color: whitesmoke;
}

.round2{
    border-radius: 25px;
    background-color: lightgray;
}

.modal-body{
    display: table;
  margin-left: auto;
  margin-right: auto;
  list-style-position: inside;
}

.logo{
    width: 75px;
    margin: 0;
    -webkit-filter: drop-shadow(5px 5px #000);
    filter: drop-shadow(5px 5px #000); 
}

.mlogo{
    width: 100px;
    margin: 0;
}

.carousel img {
    border-radius: 0px !important;
    /* width: 450px; */
    width: 140%;
}

.carousel-inner img {
    margin: auto;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.vector{
    width: 80%;
}

.image{
    width: 80%;
    transition: all .2s ease-in-out;
}

.image:hover{
    transform: scale(1.1);
}

.heading{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}

.mheading{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.heading-image{
    background-image: url('./assets/heading-svg.png');
    background-size: 25%;
    background-repeat: no-repeat;
    text-align: center;
    /* padding: 50px; */
    background-position: center; 
}

.even-section{
    background-color: white;
    color: black;
    background-image: url('./assets/background.png');
    background-blend-mode: multiply;
    /* background-size: 2%; */
    /* opacity: 10%; */
}

.odd-section{
    background-color: white;
    color: black;
    background-image: url('./assets/background.png');
    background-blend-mode: multiply;
}

.navbar-nav a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
    /* font-weight: bold; */
    display: block;
    /* color: white; */
    /* padding: 40px 16px; */
    text-decoration: none;
    /* font-size: 17px; */
    /* letter-spacing: 2.5px; */
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
    /* height: 100px; */
}

.navbar-nav a:hover{
    background-color: midnightblue;
    color: white;
    border-radius: 5px;
      /* border-bottom: 1px solid white; */
}

.navbar-nav .active{
    /* color: b !important; */
    /* background-color: midnightblue; */
    font-weight: bold;
}

.navbar-nav .active:hover{
    color: white !important;
    /* background-color: midnightblue; */
    font-weight: bold;
}

.para-heading{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.para{
    font-family: 'Inter', sans-serif;
    text-align: justify;
    padding: 15px;
    /* font-weight: bold; */
}

img{
    border-radius: 10%;
}

.navigation{
    position: sticky;
    top: 0;
    z-index: 100;
}
hr {
    display:block;
    border:none;
    color:white;
    height:1.5px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

.special{
    font-family: 'Niconne', cursive;
    font-size: 40px;
}

a{
    text-decoration: none;
    color: white;
}

.special-button{
    padding: -50px;
    background-color: midnightblue !important;
    /* color: midnightblue !important; */
}

ol li, ul li{
    /* text-align: left; */
    font-size: medium;
    text-align: justify;
}

.modal-title{
    font-weight: bold;
    text-align: center;
}

.modal-header{
    text-align: center;
    color: white;
    background-color: midnightblue;
}

.modal-header button{
    background-color: white;
}

.animate-character
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 20%,
    #ff1361 40%,
    #dcdcdc 60%,
    #ff1361 80%,
    #44107a 100%
    /* #ff1361 120%, */
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
      /* font-size: 190px; */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.shadow-heading, .special {
    color: white;
    text-shadow: 6px 6px black,
                 3px 3px black;
  }

.special-animation{
    animation: fadeIn 1s;
}
  
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

/* iframe {
    display:block;
    margin-top: 20px;
    margin-left: 200px;
    width:850px;
    height:300px;
} */

/* .preloader {
    align-items: center;
    background: rgb(23, 22, 22);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.3s linear 0.3s;
    width: 100%;
    z-index: 9999;
  } */

  @media (min-width: 100px) { 
    .small{
        display: block;
    }
    .big{
        display: none;
    }
    .small-flex{
        display: flex;
    }
    .big-flex{
        display: none;
    }
 }


  
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .small{
        display: block;
    }
    .big{
        display: none;
    }
    .small-flex{
        display: flex;
    }
    .big-flex{
        display: none;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .small{
        display: none;
    }
    .big{
        display: block;
    }
    .small-flex{
        display: none;
    }
    .big-flex{
        display: flex;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .small{
        display: block;
    }
    .big{
        display: none;
    }
    .small-flex{
        display: flex;
    }
    .big-flex{
        display: none;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .small{
        display: none;
    }
    .big{
        display: block;
    }
    .small-flex{
        display: none;
    }
    .big-flex{
        display: flex;
    }
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .small{
        display: none;
    }
    .big{
        display: block;
    }
    .small-flex{
        display: none;
    }
    .big-flex{
        display: flex;
    }
 }


  